.title {
  text-align: center;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0px;
}

.person {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.imageDiv img {
  border-radius: 10%;
  margin: 20% 0px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 20px;
  margin: 0px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  text-align: left;
  text-align: center;
  width: 100%;
}

.name {
  font-size: 32px;
  font-weight: 800;
  margin: 10px 10px;
}

.hobby {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 10px;
  display: inline-block;
  text-align: center;
}

.hobbiesList {
  margin: 0px;
}

.hobbies {
  font-size: 25px;
  margin: 0px;
  font-weight: 800;
}

.favoriteQuote {
  font-size: 25px;
  font-weight: 800;
  margin: 0px 10px;
}

.quote {
  font-size: 18px;
  font-weight: 500;
  margin: 0px 10px;
  font-style: italic;
  text-align: center;
}
