body {
  height: 100%;
  width: 100%;
}

.titleText {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.noCourses {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: black;
  margin: 10% 10%;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px;
}
.courseDiv {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.courseName {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.courseDescription {
  font-size: 16px;
  margin-bottom: 10px;
}

.courseLink {
  font-size: 14px;
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s;
  text-align: center;
  width: 100px;
}

.courseLink:hover {
  color: white;
  background-color: #0056b3;
}

.coursePrice {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
