html,
body {
  margin: 0px;
  padding: 0px;
  background: rgb(240, 186, 86) url("../image/background.png") no-repeat center
    top;
}

.register {
  justify-content: center;
  align-content: center;
  padding: 10px;
}
